#include "default.shared.xcconfig"

ENABLE_TESTABILITY = YES
ENABLE_BITCODE = NO

SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE

ONLY_ACTIVE_ARCH = YES
OTHER_SWIFT_FLAGS = $(inherited) -D DEBUG -Xfrontend -debug-time-function-bodies -Xfrontend -warn-long-function-bodies=500
DEBUG_INFORMATION_FORMAT = dwarf

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BATTLE_ERROR_DETAIL_OUTPUT=1 SR_ENABLE_LOG=1 DEBUG=1
GCC_OPTIMIZATION_LEVEL = 0

// add "debug" params
