#include "default.shared.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
VALIDATE_PRODUCT = YES

SWIFT_WHOLE_MODULE_OPTIMIZATION = YES
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
SWIFT_COMPILATION_MODE = wholemodule

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BATTLE_ERROR_DETAIL_OUTPUT=1
GCC_OPTIMIZATION_LEVEL = s

// add "release" params
