#include "ios-app.shared.xcconfig"

// add "dev" params
PRODUCT_BUNDLE_IDENTIFIER = app.xl.gitclientkmp.dev
PROVISIONING_PROFILE_SPECIFIER = $(sigh_dev.icerock.boilerplate.dev_development_profile-name)
// $() is hack to pass // in value
SERVER_ENDPOINT = https:/$()/dev.localhost/
BUNDLE_DISPLAY_NAME = MOKO app (D)
